<% @stores.each do |store| %>
  <div class="store">
    <p class"long_name"> <%= store.long_name %></p>
    <p class"city"> <%= store.city %></p>
    <p class"distance"> <%= store.distance %></p>
    <p class"phone_number"> <%= store.phone_number %></p>
    <p class"store_type"> <%= store.store_type %></p>
  </div>
<% end %>
