<%= @store_data.total_stores %> Total Stores

<% @store_data.stores.each do |store| %>
  <div class="store">
    <div class"long_name"> <%= store.long_name %></p>
    <div class"city"> <%= store.city %></div>
    <div class"distance"> <%= store.distance %></div>
    <div class"phone_number"> <%= store.phone_number %></div>
    <div class"store_type"> <%= store.store_type %></div>
  </div>
<% end %>
